@using ReflectionIT.Mvc.Paging
@model ReflectionIT.Mvc.Paging.PagingList<CourseProjectRecap.Models.Student>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<br />
<br />
<br />

<form method="get" asp-action="Index">
    Ada Göre Ara: <input type="search" name="searchString" value="@ViewData["currentFilter"]" placeholder="Ara"/>
    <input type="submit" value="search" class="btn btn-sm btn-success" />
</form>
<br />
<nav aria-label="Products navigation example">
    <vc:pager paging-list="@Model"></vc:pager>
</nav>

<br />
<br />
<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["sortName"]">
                First Name
            </a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["sortByDate"]"><i class="fas fa-calendar-minus"></i></a>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>*@
                
                <partial name="Partials/_GroupButtonPartial" model="@item.StudentId"/>
            </td>
        </tr>
    }
    </tbody>
</table>
<nav aria-label="Products navigation example">
    <vc:pager paging-list="@Model"></vc:pager>
</nav>
</body>
</html>
